<!DOCTYPE html>
<html>
  <head>
    <title>Embedding search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Embedding search v0.1</h1>
      <form method='post' action="/"}>
        <div class="form-group">
          <select name="platform_select" class="selectpicker form-control" selected="reddit" style="max-width: 300px;">
           <option value="reddit">Reddit</option>
           <option value="twitter">Twitter</option>
           <option value="gab">Gab</option>
         </select>
          <input type="text" name="embedding" class="form-control" id="embedding-box" placeholder="Enter text..." style="max-width: 300px;" autofocus required>
          <input type="date" name="day" id="day-picker">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <br>
      <h4>{{ error }}</h4>
    </div>
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>
